.card-selected {
    font-size: medium;
    color: var(--gus-green);
    display: flex;
    align-items: center;
}


input.success,
textarea.success {
    border-color: var(--gus-green);
}

input.error,
textarea.error {
    border-color: var(--gus-red);
}