@import "~antd/dist/antd.css";

:root {
  --gus-white: white;
  --gus-dark-blue: #223b75;
  --gus-light-gray: #eff2f5;
  --gus-gray: rgb(107, 116, 118);
}

p {
  line-height: normal;
}

li[role="menuitem"].gus-item {
  height: auto;
}

li[role="menuitem"] .menu-title {
  font-size: larger;
}

li[role="menuitem"] em {
  white-space: normal;
  line-height: normal;
  font-size: small;
}

.gus-layout-helper {
  height: 100%;
  width: 100%;
  background-color: var(--gus-light-gray);
  color: var(--gus-gray);
  margin-bottom: 1em;
}

.gus-onboarding-layout-content {
  background-color: var(--gus-white);
  padding: 4em;
  display: flex;
  flex-grow: 1;
  justify-content: center;

}

.gus-scraper-layout-content {
  background-color: var(--gus-white);
}

.gus-main-content {
  width: 100vw;
  height: 100vh;
}

.gus-main-row {
  padding: 1em 2em;
}

.gus-row-breathe {
  margin: 1em 0;
}

.gus-col-breathe {
  margin: 0 1em;
}

.gus-scraping-element {
  margin: 0 1em;
}

.gus-scraping-element:hover {
  border: 1px solid var(--gus-dark-blue);
  cursor: pointer;
}