@import "~antd/dist/antd.css";

:root {
  --gus-white: white;
  --gus-dark-blue: #223b75;
  --gus-light-gray: #eff2f5;
  --gus-gray: rgb(107, 116, 118);
  --gus-red: red;
  --gus-green: green;
  --gus-broken-white: beige;
  --gus-code: #f7af3d;

}

p {
  line-height: normal;
}

code {
  background-color: var(--gus-code);
  padding: 0.2em;
  font-size: small;
}

li[role="menuitem"].gus-item {
  height: auto;
}

li[role="menuitem"] .menu-title {
  font-size: larger;
}

li[role="menuitem"] em {
  white-space: normal;
  line-height: normal;
  font-size: small;
}

img.icon {
  width: 30px;
  margin-right: 0.5em;
}

li.ant-list-item.gus-scrapable:hover {
  cursor: pointer;
}

.highlight {
  background-color: var(--gus-green);
  color: var(--gus-white);
  padding: 0.3em;
}

.ant-form-item-label>label {
  white-space: normal;
}